PORT=3000
MONGODB_URI=mongodb+srv://USER:PASS@cluster.mongodb.net/store?retryWrites=true&w=majority

# Used in npm test summary line (assignment format)
STUDENT_EMAIL=me@college.edu
JUAN_STUDENT_EMAIL=teammate@yourcollege.edu
MAYA_STUDENT_EMAIL=teammate@yourcollege.edu

#Team member product JSON endpoints
JUAN_PRODUCTS_URL=
MAYA_PRODUCTS_URL=
API_BASE_URL=

