PORT=3000

STUDENT_EMAIL=you@yourcollege.edu

API_BASE_URL=https://your-app.up.railway.app

MONGODB_URI=mongodb+srv://USER:PASS@cluster.mongodb.net/monther-store?retryWrites=true&w=majority

# Team member product endpoints
JUAN_PRODUCTS_URL=https://juan-store-api.onrender.com/products
MAYA_PRODUCTS_URL=https://mayada-store-api-2.onrender.com/products